//COLORS

$color-primary: #3374f4;
$color-primary-light: #6d9af4;
$color-primary-dark: #1d68ff;

$color-grey: #978f8f;
$color-grey-light: #f6f6f9;
$color-grey-dark: #6f6f6f;

$color-white: #fff;
$color-black: #000;

$color-red: #e90505;

//FONTS
$font-logo-styles:'Black Ops One';
$font-styles:'Josefin Sans';